@CHARSET "UTF-8";
	.totalWrap{
		border: solid 0px red;
		margin: 0;
		padding: 0;
		
		font-family: Arial, "MS Trebuchet", sans-serif;
		word-break: break-all;
	}
	
	.innerContainer{
		width: 50%;
		display: block;
		padding: 20px;
		margin: 0 auto; 
	}
	
	.errorText{
		color: red;
	}
	
	div#wrap{
		border: solid 0px blue;
		width: 1150px;
		margin: 0 auto;
	}
	
	header#page_header{
		border: solid 0px orange;
		padding-bottom: 2%;
		overflow: hidden;
		width: 100%;
	}
	
	div#logo{
		border: solid 0px black;
		float: left;
		display: inline-block;
		margin-top: 1.5%;
		margin-bottom: -1%;
		margin-left: 1%;
	}
	
	ul#menu{
		border: solid 0px red;
		list-style-type: none;
		margin-top: 4%;
		margin-left: 6%;
		float: left;
	}
	
	ul#menu li{
		border: solid 0px blue;
		display: inline-block;
		padding: 0 20px;
	}
	
	ul#menu > li a{
		text-decoration: none;
		color: #222222;
		font-weight: bold;
		font-size: 16pt;
	}
	
	ul#menu li a:hover{
		color: #3f5a75;
		border-bottom: dashed 2px #3f5a75;
	}
	
	div#div_search{
		border: solid 0px red;
		border-bottom: solid 1px black;
		margin-top: 3%;
		float: right;
		
	}
	
	div#div_search span{
		padding-right: 80px;
		font-size: 12pt;
	}
	
	footer#page_footer{
		background-color: #222222;
		clear: both;
		height: 120px;
	}
	
	footer#page_footer p{
		border: solid 0px yellow;
		padding-top: 25px;
		text-align: center;
		font-size: 9pt;
		color: #9d9d9d;
		line-height: 0px;
	}